/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .is-favorite {
        background-color: black;
    }

    .is-favorite > * {
        fill: white;
    }
}
